include ../../helpers/variables
include ../../helpers/mixins

doctype html
html
	head
		include ../meta/meta
	body.page
		.outer-wrapper
			.page-wrapper
				include ../header/header
				block content
				include ../footer/footer