.svg-svg-sprites--anchor {
	background: url("css/svg/sprite.css-fe1f2916.svg") 63.886763580719204% 28.31389183457052% no-repeat;
}

.svg-svg-sprites--anchor-dims {
	width: 34px;
	height: 48px;
}

.svg-svg-sprites--anchor-bg {
	background: url("css/svg/sprite.css-fe1f2916.svg") 0 100% no-repeat;
}

.svg-svg-sprites--anchor-bg-dims {
	width: 785px;
	height: 785px;
}

.svg-svg-sprites--dolphin {
	background: url("css/svg/sprite.css-fe1f2916.svg") 88.30364058869094% 21.57068062827225% no-repeat;
}

.svg-svg-sprites--dolphin-dims {
	width: 50px;
	height: 36px;
}

.svg-svg-sprites--history {
	background: url("css/svg/sprite.css-fe1f2916.svg") 60.80557707203718% 28.31389183457052% no-repeat;
}

.svg-svg-sprites--history-dims {
	width: 50px;
	height: 48px;
}

.svg-svg-sprites--lighthouse {
	background: url("css/svg/sprite.css-fe1f2916.svg") 60.71152358855375% 33.4750265674814% no-repeat;
}

.svg-svg-sprites--lighthouse-dims {
	width: 48px;
	height: 50px;
}

.svg-svg-sprites--logo {
	background: url("css/svg/sprite.css-fe1f2916.svg") 79.61460446247465% 22.150537634408604% no-repeat;
}

.svg-svg-sprites--logo-dims {
	width: 355px;
	height: 61px;
}

.svg-svg-sprites--logo-bg {
	background: url("css/svg/sprite.css-fe1f2916.svg") 0 0 no-repeat;
}

.svg-svg-sprites--logo-bg-dims {
	width: 1341px;
	height: 206px;
}

.svg-svg-sprites--wheel {
	background: url("css/svg/sprite.css-fe1f2916.svg") 67.15610510046368% 28.283898305084747% no-repeat;
}

.svg-svg-sprites--wheel-dims {
	width: 47px;
	height: 47px;
}

.svg-svg-sprites--wind-rose {
	background: url("css/svg/sprite.css-fe1f2916.svg") 64.52362509682416% 33.4750265674814% no-repeat;
}

.svg-svg-sprites--wind-rose-dims {
	width: 50px;
	height: 50px;
}

