normal-text()
    font 0.8rem 'Arial'
    line-height 1.375


.text-p
    padding-bottom 22px
    normal-text()

play-button()
    width 188px
    height 188px
    border-radius 50%
    border 8px solid $light-text-color
    background-color $video-border-color
    opacity 0.8
    position absolute
    vertical-center()
    horizontal-center()
    margin auto auto
    z-index 10
    cursor pointer
    transition(transform 0.3s ease)
    &:hover
        transform(scale(1.1))
    &:before
        content ''
        @extend .svg-svg-sprites--play
        @extend .svg-svg-sprites--play-dims
        horizontal-center()
        vertical-center()
        margin auto auto
        transform(translateX(10px))
        position absolute