*
  margin 0px
  padding 0px

html, body
  font-size 20px

//Tables
table
  border-collapse: collapse
  border-spacing: 0

td, th
  padding: 0


//Lists
ul
  list-style-type none
  margin-top 0
  margin-bottom 0
  margin-left 0
  margin-right 0
  padding-top 0
  padding-bottom 0
  padding-left 0
  padding-right 0
  -webkit-padding-start 0
  -webkit-margin-before 0
  -webkit-margin-after 0
  -webkit-margin-start 0
  -webkit-margin-end 0


li
  display block

.slick-slide
  height auto