$svg-common 
	background url("../../resources/images/sprite-2f420032.svg") no-repeat

.svg-svg-sprites--anchor
	@extend $svg-common
	background-position 99.23488905891354% 21.661409043112513%

.svg-svg-sprites--anchor-dims
	width 34px
	height 48px

.svg-svg-sprites--anchor-bg
	@extend $svg-common
	background-position 0 96.26168224299066%

.svg-svg-sprites--anchor-bg-dims
	width 785px
	height 785px

.svg-svg-sprites--arrow-left
	@extend $svg-common
	background-position 99.39804364183597% 36.9120654396728%

.svg-svg-sprites--arrow-left-dims
	width 12px
	height 21px

.svg-svg-sprites--arrow-right
	@extend $svg-common
	background-position 99.39804364183597% 34.76482617586912%

.svg-svg-sprites--arrow-right-dims
	width 12px
	height 21px

.svg-svg-sprites--big-arrow-next
	@extend $svg-common
	background-position 100% 26.4859228362878%

.svg-svg-sprites--big-arrow-next-dims
	width 20px
	height 40px

.svg-svg-sprites--big-arrow-prev
	@extend $svg-common
	background-position 100% 30.96976016684046%

.svg-svg-sprites--big-arrow-prev-dims
	width 20px
	height 40px

.svg-svg-sprites--border-line
	@extend $svg-common
	background-position 0 100%

.svg-svg-sprites--border-line-dims
	width 626px
	height 8px

.svg-svg-sprites--dolphin
	@extend $svg-common
	background-position 88.30364058869094% 80.95534787123572%

.svg-svg-sprites--dolphin-dims
	width 50px
	height 36px

.svg-svg-sprites--history
	@extend $svg-common
	background-position 72.96669248644461% 88.39116719242902%

.svg-svg-sprites--history-dims
	width 50px
	height 48px

.svg-svg-sprites--keypoint_logo_orange_white
	@extend $svg-common
	background-position 90.85258964143426% 76.3756345177665%

.svg-svg-sprites--keypoint_logo_orange_white-dims
	width 86px
	height 14px

.svg-svg-sprites--lighthouse
	@extend $svg-common
	background-position 65.27455529775716% 88.57744994731296%

.svg-svg-sprites--lighthouse-dims
	width 48px
	height 50px

.svg-svg-sprites--logo
	@extend $svg-common
	background-position 79.61460446247465% 83.11300639658849%

.svg-svg-sprites--logo-dims
	width 355px
	height 61px

.svg-svg-sprites--logo-bg
	@extend $svg-common
	background-position 0 0

.svg-svg-sprites--logo-bg-dims
	width 1341px
	height 206px

.svg-svg-sprites--logo-small
	@extend $svg-common
	background-position 99.73757872638208% 74.42728309318959%

.svg-svg-sprites--logo-small-dims
	width 197.8px
	height 34.3px

.svg-svg-sprites--logo2
	@extend $svg-common
	background-position 79.63075674579022% 76.59483678259015%

.svg-svg-sprites--logo2-dims
	width 355.2px
	height 61.6px

.svg-svg-sprites--next-video-arrow
	@extend $svg-common
	background-position 98.48139711465451% 31.06694560669456%

.svg-svg-sprites--next-video-arrow-dims
	width 24px
	height 43px

.svg-svg-sprites--next-video-arrow-hover
	@extend $svg-common
	background-position 98.48139711465451% 26.569037656903767%

.svg-svg-sprites--next-video-arrow-hover-dims
	width 24px
	height 43px

.svg-svg-sprites--play
	@extend $svg-common
	background-position 61.23244929797192% 90.29001074113856%

.svg-svg-sprites--play-dims
	width 59px
	height 68px

.svg-svg-sprites--prev-video-arrow
	@extend $svg-common
	background-position 98.48139711465451% 35.56485355648535%

.svg-svg-sprites--prev-video-arrow-dims
	width 24px
	height 43px

.svg-svg-sprites--prev-video-arrow-hover
	@extend $svg-common
	background-position 98.48139711465451% 40.06276150627615%

.svg-svg-sprites--prev-video-arrow-hover-dims
	width 24px
	height 43px

.svg-svg-sprites--wheel
	@extend $svg-common
	background-position 76.66151468315302% 88.2983193277311%

.svg-svg-sprites--wheel-dims
	width 47px
	height 47px

.svg-svg-sprites--wind-rose
	@extend $svg-common
	background-position 69.09372579395817% 88.57744994731296%

.svg-svg-sprites--wind-rose-dims
	width 50px
	height 50px

.svg-svg-sprites--youtube
	@extend $svg-common
	background-position 94.69240048250904% 42.299794661190965%

.svg-svg-sprites--youtube-dims
	width 512px
	height 512px

