// Переменные
$assetsPath = '/source/build/assets/'


//Цвета
$body-bg-color      = #f3f7fa
$outer-bg-color     = #ffffff
$top-bg-color       = #123756
$history-bg-color   = #f9f4df
$char-bg-color      = #f3f7fa
$kruz-bg-color      = #fafafa
$footer-bg-color    = #222222

$light-text-color   = #ffffff
$dark-text-color    = #000000
$light-gray-color   = #dedede
$brown-text-color = #b77e2d

$top-menu-link-hover    = #efedb2
$welcome-title-color    = #153d5e
$not-active-link-color  = #8c9ead
$small-logo-color       = #d0d7dd
$history-main-color     = #564911
$history-border-color   = #e6dfc3
$history-text-color     = #968c61
$slider-dot-color       = #d7cfb2

$arrow-border-color         = #d1dfe8
$arrow-border-color-hover   = #afcbdb
$arrow-bg-color             = #fafdff
$arrow-bg-color-hover       = #e6f4fc
$video-dot-color            = #d8eaf3
$video-dot-color-hover      = #3b94c5
$video-border-color         = #26b3dd

$event-date-color       = #308acf
$item-date-color        = #7f7f7f
$event-text-color       = #585858
$events-link-color      = #1b94d9
$events-link-hover      = #1b8bd1
$coordinates-bg         = #e2f0ff
$coordinates-border     = #96bde7

$figcaption-color       = #4a4a4a
$kruz-border-color      = #e3e3e3
$read-more-link         = #349de7
$read-more-link-hover   = #327ec6

$partners-border-color  = #f0f0f0

$contacts-title-color   = #b69e1a
$contacts-blue-color    = #3077ce
$contacts-blue-hover    = #3257bc
$contacts-separator     = #e5e5e5
$form-title-border      = #c9c9c9
$form-border-color      = #818285

$figures-title-color    = #153d5e
$number-color           = #116bb5
$round-color            = #dde0e3
$info-text-color        = #4c4c4c

$period-color           = #3077ce
$slider-caption-color   = #737373

$history-slider-text    = #153d5e
$timeline-text-color    = #c5ccce

$footer-text-color      = #a9a9a9

$breakpointSizesWidth = {
  medium: 1300px
}

$breakpointSizesHeight = {
  medium: 700px
}