.text-p{padding-bottom:22px;font:.8rem 'Arial';line-height:1.375}.information{margin-bottom:65px;}.information__title{font:1.8rem 'CharterITC';padding:38px 0 32px}.information__text{font:.8rem 'Arial';line-height:1.375}