.text-images__title2 {
    font: 1.8rem 'CharterITC';
    display: inline-block;
    margin-bottom: 22px;
}

.text-images__h1 {
    font: 2.3rem 'CharterITC';
    padding: 44px 0 23px;
}


.text-images__image-right {
    border: 7px solid #ffffff;
    border-radius: 1px;
    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.08);
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
}

.text-images__image-left {
    border: 7px solid #ffffff;
    border-radius: 1px;
    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.08);
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.text-images__block-left {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.text-images__figcaption {
    font: .8rem 'CharterITC';
    color: #4a4a4a;
    text-align: center;
    line-height: 1.2;
    padding-top: 16px;
}

.text-images__text {
    font: .8rem 'Arial';
    line-height: 1.375;
}

.text-images__text p {
    padding-bottom: 22px;
}

.additional-figures__number {
    font: 1.8rem 'CharterITC';
    color: #116bb5;
}