// подключаем структуру страницы
extends ../blocks/page/page

block content
   include ../blocks/contacts/contacts
   include ../blocks/information/information
   include ../blocks/cart/cart
   include ../blocks/send-message/send-message

