// подключаем структуру страницы
extends ../blocks/page/page

block content
   include ../blocks/gallery-about/gallery-about
   include ../blocks/period/period
   include ../blocks/history-period/history-period
   include ../blocks/videomaterials/videomaterials

