// подключаем структуру страницы
extends ../blocks/page/page

block content
    include ../blocks/main-banner/main-banner
    include ../blocks/welcome/welcome
    include ../blocks/history/history
    include ../blocks/inmotion/inmotion
    include ../blocks/characteristics/characteristics
    include ../blocks/location/location
    include ../blocks/kruzenshtern/kruzenshtern
    include ../blocks/partners/partners
