.send-message
    .center-wrapper
        h2.send-message__title #{$sendmessage["TITLE"]}

        if $sendmessage["ERRORS"] != ''
            each $error in $sendmessage["ERRORS"]
                p.send-message__errortext !{$error}

        if $sendmessage["OK_MESSAGE"] != ''
            .send-message__ok-text #{$sendmessage["OK_MESSAGE"]}
        else
            form.send-message__form(action=$sendmessage["POST_FORM_ACTION_URI"] method="POST")
                input(type="hidden" name="sessid" id="sessid" value=$sendmessage["BITRIX_SESSID_POST"])
                span.form__name #{$sendmessage["FORM_NAME"]}
                input(type="text" name="user_name" value=$sendmessage["AUTHOR_NAME"]).form__field
                br
                span.form__name #{$sendmessage["FORM_EMAIL"]}
                input(type="email" name="user_email" value=$sendmessage["AUTHOR_EMAIL"]).form__field
                br
                span.form__name #{$sendmessage["FORM_MESSAGE"]}
                textarea(type="textarea" name="MESSAGE").form__field.message-field #{$sendmessage["MESSAGE"]}
                br
                if ($sendmessage["USE_CAPTCHA"]=='Y')
                    span.form__name
                    img(src=$sendmessage["SRC_CAPTCHA"] width="180" height="40" alt="CAPTCHA" class="send-message__captcha")
                    br
                    span.form__name #{$sendmessage["FORM_SIMBOLS"]}
                    input(type="hidden" name="captcha_sid" value=$sendmessage["CAPTCHA_SID"])
                    input(type="text" name="captcha_word" placeholder=$sendmessage["MFT_CAPTCHA_PLACEHOLDER"]).form__field
                    br
                input(type="hidden" name="PARAMS_HASH" value=$sendmessage["PARAMS_HASH"])
                input(type="submit" name="submit" value=$sendmessage["FORM_BUTTON"]).form__button
                script setFormHandler();
