@import "../../styles/helpers/variables"
@import "../../styles/helpers/mixins"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/crossbrowser"

.send-message

    &__title
        font 2.3rem 'CharterITC'
        letter-spacing -0.3px
        padding-bottom 30px
        border-bottom 2px solid $form-title-border
        margin 110px 0 52px

    &__form
        margin-bottom 170px

    .form
        &__name
            display inline-block
            width 177px
            font 1rem 'DINCyr-Medium'
            text-align right
            vertical-align top

        &__field
            margin-left 15px
            width 310px
            border 1px solid $form-border-color
            normal-text()
            padding 7px 10px
            margin-bottom 15px

            &.message-field
                width 580px
                height 251px
                resize none

            &.captcha
                width 155px
                background url($assetsPath + '/images/captcha.jpg') no-repeat center


        &__button
            margin-top 18px
            margin-left 190px
            background-color $contacts-blue-color
            font 0.8rem 'DINCyr-Medium'
            color $light-text-color
            line-height 1
            padding 15px 25px
            border none
            outline none
            cursor pointer
            text-transform uppercase
            background-linear-gradient(0, #008ed7, 0%, #0083c7, 100%)
            box-shadow 0px 3px 3px 0px rgba(0,0,0,0.07)
            text-shadow: 0px -1px 0px rgba(0,0,0,0.16)
            font-weight bold
            &:hover
                background-linear-gradient(0, lighten(#008ed7, 15%), 0%, lighten(#0083c7,15%), 100%)
                transition(background-color .3s ease-out)

    &__captcha
        margin-left 15px

    &__errortext
        color red
        font 0.8rem Arial
        margin-bottom 10px

    &__ok-text
        color green
        font 0.8rem Arial
        margin-bottom 50px
