@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/sprite"


.text-images
    clearfix()
    padding-bottom 100px

    &__date
        font 0.8rem 'Arial'
        margin-bottom 20px
        color $not-active-link-color

    &__title1
        font 2.1rem 'CharterITC'
        display inline-block
        margin-bottom 29px

    &__title2
        font 1.8rem 'CharterITC'
        display inline-block
        margin-bottom 22px

    &__text
        padding-bottom 22px
        font 0.8rem 'Arial'
        line-height 1.375
        clearfix()

        p
            padding-bottom 22px
            normal-text()

        a
            color $welcome-title-color
            &:hover
                color $not-active-link-color

    &__image
        border 7px solid $light-text-color
        border-radius 1px
        box-shadow 0px 11px 10px 0px rgba(0, 0, 0, 0.08)

        &_big
            display block
            margin 60px 0 126px

    &__image1
        float right
        margin-left 30px
        margin-bottom 60px

    &__image2
        float left
        margin-right 60px
        margin-bottom 88px

    &__list-link
        display block
        margin-top 40px
        margin-bottom 60px
        color $not-active-link-color
        &:hover
            text-decoration none

    &__author
        margin-top 20px
        margin-bottom 10px
        text-align right

