.text-images
   .center-wrapper
      h1.text-images__title1 !{$textimages["TITLE1"]}
      if $textimages["DATE"] != ''
         .text-images__date #{$textimages["DATE"]}
      a(href=$textimages["IMAGE_FULL"] class="fancyboxElem")
         img(src=$textimages["IMAGE1"]).text-images__image.text-images__image1
      .text-images__text !{$textimages["TEXT1"]}
      if $textimages["AUTHOR"] != ''
         .text-images__author !{$textimages["AUTHOR"]}