.kruzenshtern
   .center-wrapper
      .kruzenshtern__title
         .svg-svg-sprites--lighthouse.svg-svg-sprites--lighthouse-dims
         h1.kruzenshtern__title_text !{$kruzenshtern["TITLE"]}

      figure.kruzenshtern__image
          img.kruzenshtern__img(src="/source/build/assets/images/kruzenshtern.png")
          figcaption.kruzenshtern__image-descr !{$kruzenshtern["DESCR"]}

      .kruzenshtern__text
          h2.kruzenshtern__text-title #{$kruzenshtern["NAME"]}
          div !{$kruzenshtern["TXT"]}

          a.kruzenshtern__link(href=$kruzenshtern["LINK_URL"]) #{$kruzenshtern["LINK"]}