@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

.kruzenshtern
    background url($assetsPath + "/images/kruzenshtern-bg.jpg") no-repeat $kruz-bg-color
    background-size cover
    padding-bottom 62px
    margin-top 70px

    &__title
        flexbox()
        justify-content(flex-start)
        padding 27px 0 24px
        border-bottom 1px solid $light-gray-color

        &_text
            font 2.3rem 'CharterITC'
            margin-left 22px

    &__image
        float left
        display block
        margin-top 37px
        margin-right 12px
        transform(translateX(-19px))

    &__img
        border 2px solid $kruz-border-color
        border-radius 50%
        padding 17px

    &__image-descr
        font 0.8rem 'CharterITC'
        color $figcaption-color
        text-align center
        line-height 1.2
        padding-top 16px

    &__text
        padding-top 27px
        clearfix()

    &__text-title
        font 1.82rem 'CharterITC'

    &__text-p
        normal-text()
        padding-top 21px


    &__link
        display inline-block
        font 1.1rem 'CharterITC'
        padding-top 22px
        color $read-more-link
        &:hover
            color $read-more-link-hover