@import "../../styles/helpers/variables"
@import "../../styles/helpers/mixins"

.videomaterials
    &__title
        font 2.3rem 'CharterITC'
        letter-spacing 0.2px
        text-align center

    &__text
        normal-text()
        padding 30px 0 40px

.inmotion__video
    width 1100px