@import "../../styles/helpers/variables"
@import "../../styles/helpers/mixins"

.today-text

    &__title
        font 2.3rem 'CharterITC'
        padding-top 45px

    &__text-p
        normal-text()
        padding-top 22px