@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/png-sprites"
@import "../../styles/helpers/mixins"

.sails
    clearfix()

    .center-wrapper
        clearfix()

    &__item
        margin-top 100px

    &__title
        font 1.8rem 'CharterITC'
        margin-bottom 60px