.sails
   .center-wrapper
       each $item in $sails['ITEMS']
            .sails__item
                .sails__title !{$item['NAME']}
            if $item['PICTURE'] != ''
                img.sails__picture(src=$item['PICTURE'])