script var dataCharacteristics =!{$characteristicsJSON};

.characteristics
   .center-wrapper
      .characteristics__title
         .svg-svg-sprites--anchor.svg-svg-sprites--anchor-dims
         h1.characteristics__title_text #{$characteristics["TITLE"]}

      .characteristics__about
          each $item in $characteristics["ABOUT"]
              ul.characteristics__column
                  each $i in $item
                      li.characteristics__item #{$i}

      .characteristics__detail
          if $characteristics["ITEMS"][0]["IMAGE"] != ''
            img.characteristics__detail-image(src=$characteristics["ITEMS"][0]["IMAGE"])
          .characteristics__detail-name #{$characteristics["ITEMS"][0]["DETAIL_NAME"]}
          .characteristics__detail-text !{$characteristics["ITEMS"][0]["DETAIL_TEXT"]}
            each $prop in $characteristics["ITEMS"][0]["PROPS"]
                p.detail-p !{$prop}


      figure.characteristics__scheme
          img(src="/source/build/assets/images/scheme.png")
          figcaption.characteristics__caption !{$characteristics["CAPTION"]}
          each $item, $index in $characteristics["ITEMS"]
            a.characteristics__dot(style='left: #{$item["POS_X"]}px; top: #{$item["POS_Y"]}px;' data-index=$index)

