@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/png-sprites"
@import "../../styles/helpers/mixins"

$ligth-teal = #4cb5ff

.characteristics
    clearfix()
    background url($assetsPath + "images/char-bg.jpg") no-repeat $char-bg-color
    background-size cover
    padding 43px 0 85px
    position relative
    min-height 750px

    .center-wrapper
        clearfix()

    &__title
        flexbox()
        justify-content(flex-start)
        padding-bottom 27px

        &_text
            font 2.3rem 'CharterITC'
            margin-left 18px
            line-height 1

    &__about
        flexbox()
        justify-content(flex-start)
        float left
        margin-bottom 20px

    &__column
        margin-right 40px

    &__item
        normal-text()

    &__detail
        width 266px
        background-color $outer-bg-color
        padding 28px 35px 18px 35px
        margin-top 68px
        float right
        position relative
        opacity 1
        transition(opacity 0.3s linear)
        &.hide
            opacity 0


    &__detail-image
        position absolute
        border 7px solid $outer-bg-color
        border-radius 50%
        width 138px
        height 138px
        top -125px
        horizontal-center()

    &__detail-name
        font 1.5rem 'CharterITC'
        padding-bottom 17px

    &__detail-text
        normal-text()
        height 400px
        overflow hidden

        .detail-p
            padding-bottom 22px

    &__scheme
        position absolute
        top 245px
        transform(translateX(-27px))

    &__caption
        font 0.9rem 'CharterITC'
        letter-spacing 0.1px
        color $figcaption-color
        padding-left 106px
        padding-top 19px

    &__dot
        position absolute
        cursor pointer
        width 30px
        height 30px
        &:before
            content ''
            display block
            position absolute
            horizontal-center()
            vertical-center()
            margin auto auto
            width 15%
            height 15%
            background-color $body-bg-color
            border 3px solid $ligth-teal
            border-radius 100%

        &:hover
            &:before
                transform(scale(2))
                transition(transform 0.2s linear)