meta(http-equiv="content-type" content="text/html; charset=utf-8")
link(href='style.css', rel='stylesheet')
link(href='blocks.css', rel='stylesheet')
link(href='assets/plugins/slick/slick.css', rel='stylesheet')
link(href='assets/plugins/JScrollPane/jquery.jscrollpane.css', rel='stylesheet')
link(href='assets/plugins/fancyBox/jquery.fancybox.css', rel='stylesheet')
script(src='assets/plugins/jquery/jquery-1.12.3.min.js' type="text/javascript")
script(src='assets/plugins/slick/slick.min.js' type="text/javascript")
script(src='assets/plugins/JScrollPane/jquery.jscrollpane.js' type="text/javascript")
script(src='assets/plugins/JScrollPane/jquery.mousewheel.js' type="text/javascript")
script(src='assets/plugins/svgjs/svg.min.js' type="text/javascript")
script(src='assets/plugins/fancyBox/jquery.fancybox.js' type="text/javascript")
script(src='assets/plugins/touchSwipe/jquery.touchSwipe.js' type="text/javascript")
script(src='http://maps.googleapis.com/maps/api/js?sensor=false')
script(src='assets/js/utils.js' type="text/javascript")
script(src='main.js' type="text/javascript")