.footer
    .center-wrapper
        include ../footer-menu/footer-menu

        .footer__logo.svg-svg-sprites--logo-small.svg-svg-sprites--logo-small-dims

    .center-wrapper
        .footer__about
            .footer__social
                for item in $footer.SOCIAL
                    a(href="#{item.LINK}" class="#{item.CLASS}").footer__social-link
            .footer__info
                a(href="http://www.keypoint.ru/").footer__keypoint Сделано в
                    .svg-svg-sprites--keypoint_logo_orange_white.svg-svg-sprites--keypoint_logo_orange_white-dims
                .footer__copyright !{$footer.COPYRIGHT}

#loading-light
#mask80
#mask
