@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/png-sprites"

.footer
    background-color $footer-bg-color
    padding 51px 0

    .center-wrapper
        clearfix()

    &__logo
        float right
        margin-top 6px
        clearfix()

    &__about
        flexbox()
        justify-content(space-between)
        margin-top 17px

    &__social
        display inline-block
        margin-top 33px

    &__social-link
        display inline-block
        margin-right 6px
        &.od
            sprite($icon_od)
        &.you
            sprite($icon_you)
        &.fb
            sprite($icon_fb)
        &.tw
            sprite($icon_tw)
        &.in
            sprite($icon_in)

    &__info
        text-align right

    &__keypoint
        font 0.7rem 'ProximaNovaRegular'
        color $light-text-color
        text-decoration none
        position relative
        right 94px

    &__copyright
        font 0.68rem 'Arial'
        color $footer-text-color
        margin-top 18px

.svg-svg-sprites--keypoint_logo_orange_white
    display inline-block
    position absolute
    left 72px
    vertical-center()


