@import "helpers/reset";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/variables";
@import "helpers/clearfix";
@import "helpers/flex";
@import "helpers/png-sprites";
@import "helpers/sprite"; // svg sprite

html
    //background url($assetsPath + "images/22.jpg") no-repeat center 0
    //background url($assetsPath + "images/contacts.jpg") no-repeat center 0
    //background url($assetsPath + "images/barque-today.jpg") no-repeat center 0
    //background url($assetsPath + "images/barque-in-figures.jpg") no-repeat center 0
    //background url($assetsPath + "images/gallery.jpg") no-repeat center 0
    //background url($assetsPath + "images/history.jpg") no-repeat center 0


body
    background-color $body-bg-color
    min-width 1200px
    //opacity 0.5

.outer-wrapper
    max-width 1600px
    margin 0 auto
    background-color $outer-bg-color

.page-wrapper
    max-width 1520px
    margin 0 auto

.center-wrapper
    max-width 1100px
    margin 0 auto
    
.displayNone
    display none

.text-p
    padding-bottom 22px
    normal-text()

.text-header
    font-family 'CharterITC'
    font-weight normal
    font-size 1.8rem
    margin-top 40px
    margin-bottom 40px

#loading-light
    background url($assetsPath + "images/loading.gif") no-repeat scroll 0 0 transparent
    display none
    height 31px
    left 50%
    margin 0 0 0 -15px
    position fixed
    top 50%
    width 31px
    z-index 10200

#mask80
    background url($assetsPath + "images/opacity80.png") repeat scroll 0 0 transparent
    display none
    left 0
    position absolute
    top 0
    width 100%
    z-index 10100
    min-width 1000px

#mask
    background url($assetsPath + "images/opacity10.png") repeat scroll 0 0 transparent
    display none
    left 0
    position absolute
    top 0
    width 100%
    z-index 10199
    min-width 1000px

.youtube-icon-for-text
    @extend .svg-svg-sprites--youtube
    background-size 264% auto
    width 32px
    height 32px
    float left
    margin-right 10px

.text-after-icon
    padding-top 5px
    display inline-block
