@import "../../styles/helpers/variables"
@import "../../styles/helpers/crossbrowser"

.period
    margin 19px 0 65px

    &__text
        font 0.75rem 'CharterITC'
        color $item-date-color
        margin-right 22px

    &__date
        font 0.8rem 'DINCyr-Medium'
        color $period-color
        padding 4px 24px 4px 0
        box-sizing border-box
        position relative
        cursor pointer
        &:hover, &.selected
            color $light-text-color
            .period__date_text
                color $light-text-color

        &:before
            content ''
            opacity 0
            transition(opacity .3s ease-out)

        &:hover, &.selected
            &:before
                content ''
                position absolute
                background-color $period-color
                color $light-text-color
                border-radius 20px
                opacity 1
                width 100%
                left -12px
                top 0
                bottom 0
                z-index 1

        &_text
            text-decoration none
            position relative
            z-index 2
            &:visited
                color $period-color
