.period
    .center-wrapper
        span.period__text #{$period["TEXT"]}:
        each $item in $period["PERIOD"]
            span(class="period__date !{$item['SELECTED']}")
                a(href="#this" data-code=$item["CODE"]).period__date_text !{$item["NAME"]}