@import "../../styles/helpers/variables"
@import "../../styles/helpers/mixins"

.information
    margin-bottom 65px

    &__title
        font 1.8rem 'CharterITC'
        padding 38px 0 32px

    &__text
        normal-text()
