.history-slider
    .history-slider__titleCont
        h1.history-slider__title #{$historyslider["TITLE"]}
    .history-slider__arrow-left(data-direction="left")
    .history-slider__arrow-right(data-direction="right")
    .history-slider__scroll
        .history-slider__timeline
            each $i in $historyslider["DATE_LINE"]
                span.small-date !{$i}
        .history-slider__slider
            each $item in $historyslider["SLIDES"]
                figure.history-slider__slide
                    a.history-slider__link(data-id=$item["ID"] href="#this")
                        img(src=$item["IMAGE"]).history-slider__slide-image
                    figcaption.history-slider__slide-caption
                        .history-slider__slide-title #{$item["TITLE"]}
                        .history-slider__slide-years #{$item["YEARS"]}
                        .history-slider__slide-text !{$item["TEXT"]}






