@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/png-sprites"


.history-slider
    background url($assetsPath + "images/history-slider-bg.jpg") no-repeat
    background-size cover
    margin-bottom 100px
    position relative

    &__title
        font 2.3rem 'CharterITC'
        color $history-slider-text
        text-align center
        padding-left 22px
        padding-top 35px
        padding-bottom 45px

    &__timeline
        width 2500px
        display inline-block
        text-align left
        background-color rgba(0,0,0,0.01)
        margin-bottom 35px

    &__slider
        //padding-bottom 122px
        flexbox()
        padding-left 176px

        .slick-list
            overflow auto

    &__slide
        margin-right 10px
        min-width 301px

        //position relative
        &:focus
            outline none
        &:nth-child(4n+1)
            transform(translate(0px, -17px))
        &:nth-child(4n+2)
            transform(translate(0px, -50px))
            .history-slider__slide-caption
                padding-top 35px
                padding-left 21px
        &:nth-child(4n+3)
            transform(translate(0px, -9px))
        &:nth-child(4n+4)
            transform(translate(0px, -43px))

        &-image
            width 163px
            height 163px
            border 8px solid $light-text-color
            border-radius 50%
            box-shadow 0px 3px 7px 0px rgba(0,0,0,0.06)

        &-caption
            padding-left 12px

        &-title
            font 1.4rem 'CharterITC'
            line-height 1.2
            color $history-slider-text
            padding 12px 0 6px 0

        &-years
            font 0.7rem 'Arial'
            color $brown-text-color
            padding-bottom 6px

        &-text
            font 0.7rem 'Arial'
            color $dark-text-color

    &__info
        position absolute
        bottom 75px
        left 50%
        transform(translateX(-50%))
        font 0.7rem 'CharterITC'
        color $history-slider-text
        text-align center

    &__titleCont
        position absolute
        left 0px
        right 0px
        top 0px


    &__scroll
        overflow hidden
        height auto
        height 770px
        padding-top 140px
        cursor -moz-grab
        cursor -webkit-grab
        vendor(user-select, none)
        &:focus
            outline none

    &__arrow-left
        sprite($icon_history_arrow_left)
        background-position 0px -122px
        cursor pointer
        position absolute
        width 25px
        height 41px
        top 46px
        left calc(50% - 204px)
        z-index 10

    &__arrow-right
        sprite($icon_history_arrow_right)
        cursor pointer
        position absolute
        width 25px
        height 41px
        top 46px
        left calc(50% + 200px)
        z-index 10


    .slick-prev, .slick-next
        position absolute
        background-color transparent
        color transparent
        border none
        outline none
        cursor pointer

    .slick-prev
        left 615px
        bottom 62px
        z-index 10
        &:before
            content ''
            sprite($icon_history_arrow_left)
            position absolute

    .slick-next
        right 650px
        bottom 62px
        z-index 10
        &:before
            content ''
            sprite($icon_history_arrow_right)
            position absolute


    .jspHorizontalBar
        position absolute
        bottom 8px
        left 0
        width 100%
        height 49px

        .jspTrack
            position relative
            background none

            &:after
                content ''
                display block
                height 5px
                width 100%
                position absolute
                top calc(50% - 3px)
                background-linear-gradient(0, rgba(0,0,0,0.03), 24%, rgba(0,0,0,0.08), 100%)
                z-index 1

        .jspDrag
            position relative
            z-index 2
            top 9px
            left 0
            height 25px
            border-radius 15px
            background $outer-bg-color
            box-shadow 0px 2px 8px 0px rgba(0, 0, 0, 0.22)
            cursor pointer

        .jspArrow
            width 32px
            background none

        .jspTrack
            &:after
                left -10px
                width 102%

.small-date
    font 1.3rem 'DINCyr-Medium'
    color $timeline-text-color
    padding-right 20px

.big-date
    font 2.3rem 'DINCyr-Medium'
    color $dark-text-color