@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"

body
  position relative

.header
    &__top
        background $top-bg-color url($assetsPath + 'images/top-bg.gif') no-repeat center top
        margin-top 0

    &__shadowLine
        background $top-bg-color url($assetsPath + 'images/top-menu_line.png') no-repeat center top
        height 20px
        width 100%

   /* .shadow
        border none
        height 4px
        box-shadow 0px 4px 7px 0px rgba(0, 0, 0, 0.14)*/


