include ../events-list/events-list

.events
   .center-wrapper
       //- Обернули блок "список событий" в миксин. И передаем ему различный набор данных. Меняются данные. Сам шаблон вывода един.
       +events-list($events)


