<div class="figures"><div class="center-wrapper"><div class="figures__title"><?=isset($figures["TITLE"]) ? $figures["TITLE"] : ''?></div><div class="figures__text"><?=isset($figures["TEXT"]) ? $figures["TEXT"] : ''?></div></div></div>