@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

.events-header
    &__title
        font 1.8rem 'CharterITC'

    &__text
        normal-text()
        padding-top 32px

.events-list
    &__title
        font 1.8rem 'CharterITC'

    &__text
        normal-text()
        padding-top 32px

    &__item
        margin 36px 0 46px
        clearfix()

    &__imageCont
        float left
        display block

    &__image
        float left
        display block
        border 7px solid $light-text-color
        border-radius 1px
        box-shadow 0px 11px 10px 0px rgba(0, 0, 0, 0.08)
        margin-right 32px

    &__description
        float left
        display block
        max-width 640px

    &__all-link
        display block
        font 1.2rem 'CharterITC'
        color $events-link-color
        margin 55px 0 50px
        text-decoration underline
        &:hover
            text-decoration none
            color $events-link-hover

.descr
    &__date
        font 1.4rem 'CharterITC'
        line-height 1.375
        color $item-date-color

    &__title
        font 1.6rem 'CharterITC'
        line-height 1.2
        padding-top 9px
        color black
        text-decoration none
        &:hover
            text-decoration underline

    &__text
        normal-text()
        padding-top 13px

        p
            margin-top 10px

        a
            color $welcome-title-color
            &:hover
                color $not-active-link-color
