mixin events-list(events)
    .events-list
        each $item in $events["ITEM"]
            .events-list__item
                if $item["IMAGE"] != ''
                    a.events-list__imageCont(href=$item["DETAIL_PAGE_URL"])
                        img.events-list__image(src=$item["IMAGE"])
                .events-list__description
                    .descr__date #{$item["DATE"]}
                    a.descr__title(href=$item["DETAIL_PAGE_URL"]) !{$item["TITLE"]}
                    .descr__text !{$item["TEXT"]}

        a(href=$events["EVENTS_LINK"]).events-list__all-link #{$events["LINK"]}