@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/mixins"


.contacts

    &__title
        font 2.3rem 'CharterITC'
        letter-spacing 0.1px
        padding-top 45px

    &__text
        normal-text()
        padding 22px 0 78px

    &__block
        flexbox()
        flex-wrap(wrap)

    &__item
        flex(0, 1, 44%)
        margin-bottom 60px
        margin-right 66px

.item

    &__title
        font 1.3rem 'CharterITC'
        letter-spacing -0.1px
        line-height 1.2
        color $contacts-title-color
        padding-bottom 25px
        border-bottom 1px solid $contacts-separator
        margin-bottom 22px

    &__about
        normal-text()

        &_fio
            normal-text()
            padding 22px 0

        a
            normal-text()
            color $contacts-blue-color
            &:hover
                color $contacts-blue-hover

    &__email
        normal-text()
        display block
        color $contacts-blue-color
        &:hover
            color $contacts-blue-hover