.contacts
   .center-wrapper
      h1.contacts__title !{$contacts["TITLE"]}
      .contacts__text !{$contacts["TEXT"]}

      .contacts__block

         each $item in $contacts["ITEMS"]
            .contacts__item
               h3.item__title #{$item["TITLE"]}
               .item__about !{$item["ADDRESS"]}
               .item__about_fio !{$item["FIO"]}
               .item__about !{$item["TEL"]}
               .item__about !{$item["FAX"]}
               .item__about !{$item["MOBILE"]}
               .item__about !{$item["ADDITIONAL"]}
               a(href=$item["EMAIL_LINK"]).item__email !{$item["EMAIL"]}
               a(href=$item["WEB_LINK"]).item__email !{$item["WEB"]}