<div class="today-text"><div class="center-wrapper"><h1 class="today-text__title"><?=isset($todaytext["TITLE"]) ? $todaytext["TITLE"] : ''?></h1><div class="today-text__text"><?=isset($todaytext["TEXT"]) ? $todaytext["TEXT"] : ''?></div></div></div>