.footer__menu
    each $item in $footer["MENU"]
        ul.footer__menu-column
            li.footer__menu-title: a(href=$item["LINK"]).footer__firstLine #{$item["TITLE"]}
                each $link, $key in $item
                    li: a(href=$link["LINK"]).footer__menu-item #{$link["NAME"]}