@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/png-sprites"

.footer
    &__menu
        flexbox()
        justify-content(flex-start)
        float left
        width 80%

    &__menu-column
        flex(1,1,30%)
        margin-right 40px

    &__menu-title
        font 0.93rem 'DINCyr-Medium'
        color $light-text-color
        padding-bottom 22px

    &__firstLine
        color $light-text-color
        text-decoration none

        &:hover
            text-decoration underline

    &__menu-item
        font 0.75rem 'Arial'
        color $footer-text-color
        line-height 1.667
        text-decoration none
        &:hover
            color $light-text-color