.main-banner
    .center-wrapper
        h2.main-banner__title !{$mainbanner["TITLE"]}
        .main-banner__text !{$mainbanner["TEXT"]}
        a.main-banner__link(href=$mainbanner["LINK"]) #{$mainbanner["LINK_TEXT"]}