@import "../../styles/helpers/variables"
@import "../../styles/helpers/crossbrowser"

.main-banner
    background url($assetsPath + "images/windjammer.jpg") no-repeat center
    background-size cover
    height 750px

    &__title
        font 3.2rem 'PetersburgItalicCyrillic'
        line-height 1.02
        letter-spacing 0.9px
        width 430px
        padding-top 47px
        .first-line
            display inline-block
            transform(translateX(-6px))
        .last-line
            padding-left 40px
        .star
            font 1.2rem 'PetersburgItalicCyrillic'

    &__text
        font 0.8rem 'PTSerif-Regular'
        line-height 1.5
        width 420px
        padding-top 38px

    &__link
        display block
        font 0.8rem 'PTSerif-Regular'
        color $brown-text-color
        text-decoration underline
        margin-top 15px
        &:hover
            text-decoration none

@media screen and (max-height: $breakpointSizesHeight[medium])
    .main-banner
        background url($assetsPath + "images/windjammer_small.jpg") no-repeat center
        height 480px