.inner
    .center-wrapper
        h2.inner__title #{$inner["TITLE"]}
        .inner__info #{$inner["INFO"]}
        .inner__picture
            #shipVector.inner__shipVector
                img(id="shipSVG" src=$inner["VECTOR_MAP"])
            #shipScheme.inner__shipScheme
            .inner__roomsList
                - $n = 1
                each $item in $inner["ROOMS"]
                    a.inner__roomLink(id=$item["CODE"] href="#this") #{$n++}. #{$item["NAME"]}
        #compartmentDetail
            include ../compartment/compartment


