@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

.inner
    background url($assetsPath + "images/inner-bg.jpg") no-repeat
    background-size cover
    padding-bottom 40px

    &__title
        text-align center
        font 2.6rem 'CharterITC'
        letter-spacing 0.7px
        padding-top 15px
        padding-right 15px

    &__info
        text-align center
        font 1.25rem 'CharterITC'
        color $info-text-color
        padding-top 18px
        margin-bottom 30px

    &__shipVector
        display none

    &__shipScheme
        position relative
        left -75px

        svg
            overflow hidden

    &__hoverRoom.st17, &__hoverRoom.st16
        cursor pointer
        fill #00b4ff
        transition(fill 0.3s linear)

    &__roomInfo
        background-color white
        padding 30px 70px 30px 150px
        margin-top 60px
        position relative
        box-shadow(0px 11px 10px rgba(0,0,0,0.08))

    &__picture
        position relative

    &__roomImage
        width 138px
        height 138px
        border-radius 100%
        border 8px solid white
        position absolute
        left -20px
        top -30px
        overflow hidden

    &__roomPicture
        width 100%

    &__roomName
        font 1.55rem 'CharterITC'

    &__roomDescription
        margin-top 15px
        font 0.8rem 'Arial'

    &__roomsList
        display none
        position absolute
        right -140px
        top 60%

    &__roomLink
        display block
        margin-top 10px
        font 0.7rem 'CharterITC'
        opacity 0.3
        color black
        text-decoration none
        &:hover, &.active
            opacity 1

    &__detailPicture
        width 100%

    &__photos
        flexbox()
        flex-flow(row wrap)
        justify-content(flex-start)
        margin-top 15px

    &__photo
        flex(0,0, auto)
        margin-right 15px


@media (min-width: 1600px)
    .inner
        &__roomsList
            display block