<div class="information"><div class="center-wrapper"><h2 class="information__title"><?=isset($information["TITLE"]) ? $information["TITLE"] : ''?></h2><div class="information__text"><?=isset($information["TEXT"]) ? $information["TEXT"] : ''?></div></div></div>