@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/sprite"

.partners
    margin-top 122px
    margin-bottom 146px

    &__title
        flexbox()
        justify-content(center)
        padding-bottom 28px

        &_text
            font 1.8rem 'CharterITC'
            text-align center
            margin-left -5px

    &__separator
        background-color $partners-border-color
        border none
        height 2px
        margin-bottom 45px


    &__slider
        width 950px
        margin 0 auto

        .slick-prev, .slick-next
            width 20px
            height 40px
            background-color transparent
            color transparent
            border none
            outline none
            cursor pointer

        .slick-prev
            z-index 3
            bottom 0
            @extend .svg-svg-sprites--big-arrow-prev
            width 20px
            height 40px
            position absolute
            top 14px
            left -80px

        .slick-next
            z-index 3
            bottom 0
            left inherit
            @extend .svg-svg-sprites--big-arrow-next
            width 20px
            height 40px
            position absolute
            top 14px
            right -80px
