.partners
    .center-wrapper
        .partners__title
            h1.partners__title_text #{$partners["TITLE"]}
        hr.partners__separator

        .partners__slider
            each $item in $partners["SLIDES"]
                a.partners__item(href=$item["LINK"])
                    img.part-slide(src=$item["IMAGE"])