@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

.location
    clearfix()

    &__title
        flexbox()
        justify-content(flex-start)
        padding 48px 0 29px

        &_text
            font 2.3rem 'CharterITC'
            letter-spacing -0.3px
            color $dark-text-color
            text-align center
            margin-left 14px

    &__text
        normal-text()
        margin-bottom 54px

    &__map
        float left
        margin-right 47px
        clearfix()

    &__events
        clearfix()

    &__events-title
        font 1.32rem 'CharterITC'
        margin-top -9px
        padding-bottom 22px
        transform(translateX(-6px))

.event
    &__date
        font 0.8rem 'OpenSansRegular'
        font-weight bold
        color $event-date-color

    &__title
        font 0.75rem 'Arial'
        font-weight bold
        line-height 1.2
        padding-top 5px
        color #000000
        text-decoration none
        &:hover
            text-decoration underline

    &__text
        font 0.7rem 'Arial'
        color $event-text-color
        padding-top 5px
        padding-bottom 33px



.svg-svg-sprites--wind-rose
    transform(translate(-6px, 5px))