//include ../../helpers/mixins
mixin event(date, title, text, link)
    .event
        .event__date #{$date}
        a(href=$link).event__title #{$title}
        .event__text #{$text}

script.
    var barqueCoords = !{$location["COORDINATES_JSON"]}
.location
    .center-wrapper
        .location__title
            .svg-svg-sprites--wind-rose.svg-svg-sprites--wind-rose-dims
            h1.location__title_text #{$location["TITLE"]}
        p.location__text #{$location["TEXT"]}
        block location__map
            .location__map
                #googleMap(style="width:617px; height:458px;")
        block location__events
            .location__events
                .location__events-title #{$location["EVENTSTITLE"]}
                each $item in $location["EVENTS"]
                    +event($item["DATE"], $item["TITLE"], $item["TEXT"], $item["DETAIL_PAGE_URL"])
    block coordinates