<div class="events-header"><div class="center-wrapper"><h2 class="events-header__title"><?=isset($events["TITLE"]) ? $events["TITLE"] : ''?></h2><div class="events-header__text"><?=isset($events["TEXT"]) ? $events["TEXT"] : ''?></div></div></div>