@import "../../styles/helpers/variables"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

.history-period

    &__title
        font 1.8rem 'CharterITC'
        letter-spacing 0.2px
        padding-bottom 27px

    &__text
        normal-text()
        padding-bottom 38px

.period-date
    font-weight bold