@import "../../styles/helpers/variables"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"
@import "../../styles/helpers/sprite"

.history
    background url($assetsPath + "/images/history-bg.jpg") no-repeat $history-bg-color
    background-size cover

    &__title
        flexbox()
        justify-content(center)
        padding 33px 0 27px

        &_text
            font 2.3rem 'CharterITC'
            color $history-main-color
            text-align center
            margin-left 40px

    &__separator
        background-color $history-border-color
        border none
        height 2px
        margin-bottom 38px

    &__slider
        float left
        width 425px
        position relative
        margin-top 8px
        margin-left 3px

    &__text
        clearfix()
        padding-left 470px
        height 377px
        text-overflow ellipsis
        opacity 1
        transition(opacity .3s linear)
        &.hide
            opacity 0

    &__text-title
        font 1.5rem 'CharterITC'
        letter-spacing 0.2px
        color $dark-text-color

    &__text-p
        normal-text()
        color $history-text-color
        padding-top 25px
        padding-left 7px

    &__date
        font 1.7rem 'CharterITC'
        color $history-main-color
        padding-left 186px
        transform(translateY(-32px))
        opacity 1
        transition(opacity .3s linear)
        &.hide
            opacity 0

    &__link
        display inherit
        text-align center
        font 1.3rem 'CharterITC'
        color $history-text-color
        padding-bottom 37px
        padding-left 45px
        &:hover
            color $history-main-color


    .slide
        border 7px solid $light-text-color

    .slick-prev, .slick-next
        position absolute
        width 12px
        height 21px
        background-color transparent
        color transparent
        border none
        outline none
        cursor pointer

    .slick-prev
        z-index 3
        bottom 0
        @extend .svg-svg-sprites--arrow-left
        width 12px
        height 21px
        position absolute
        bottom -35px
        left 46px

    .slick-next
        z-index 3
        bottom 0
        @extend .svg-svg-sprites--arrow-right
        width 12px
        height 21px
        position absolute
        bottom -35px
        left 371px

    .slick-dots
        position absolute
        bottom -32px
        horizontal-center()
        text-align center


        li
            position relative
            display inline-block
            width 9px
            height 9px
            border-radius 50%
            background-color $slider-dot-color
            margin-right 7px
            cursor pointer
            &:hover
                background-color $history-main-color
            &.slick-active
                background-color $history-main-color

            button
                display none

.svg-svg-sprites--history
    padding-top 15px
    transform(translateX(25px))