script var dataHistory = !{$historyJSON};

.history
    .center-wrapper
        .history__title
            .svg-svg-sprites--history.svg-svg-sprites--history-dims
            h1.history__title_text !{$history["TITLE"]}
        hr.history__separator
        .history__slider
            each $item in $history["SLIDES"]
                img.slide(src=$item)

        .history__text
            h2.history__text-title #{$history["INFO"][0]["TITLESMALL"]}
            .history__description !{$history["INFO"][0]["TXT"]}

        .history__date #{$history["INFO"][0]["DATE"]}

        a(href=$history["SECTION_LINK"]).history__link #{$history["LINK"]}