.inner__roomInfo
    figure.inner__roomImage
        img.inner__roomPicture(src=$inner["ROOMS"][0]["IMAGE"])
    h2.inner__roomName #{$inner["ROOMS"][0]["NAME"]}
    .inner__roomDescription !{$inner["ROOMS"][0]["DESCRIPTION"]}
    .inner__photos
        each $photo in $inner["ROOMS"][0]["ADDITIONAL_PHOTOS"]
            a.inner__photo.fancyboxElem(rel='fancybox' href=$photo['FULL'])
                img.inner__img(src=$photo['PREVIEW'])
script initFancyBox();