.figures
   .center-wrapper

      .figures__circles
         each $item, $key in $figures["CIRCLES"]
            div(class=$item["CLASS1"])
               div(class=$item["CLASS2"]) !{$item["NUMBER"]}
               div(class=$item["CLASS3"]) !{$item["TEXT"]}