@import "../../styles/helpers/variables"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

number()
    display inline-block
    color $number-color

number-text()
    display inline-block
    color $dark-text-color

round()
    content ''
    display block
    border 1px solid $round-color
    border-radius 50%

.figures

    &__title
        font 2.3rem 'CharterITC'
        letter-spacing 0.1px
        color $figures-title-color
        padding-top 45px

    &__text
        normal-text()
        padding-top 15px

    &__circles
        position relative
        height 500px   /*****!!!!!!!!!!*****/

    .circle

        &__one
            position absolute
            top 79px
            left 33px
            &-number
                number()
                font 8.8rem 'CharterITC'
                &:after
                    round()
                    width 250px
                    height 250px
                    transform(translate(-77px, -230px))
            &-text
                number-text()
                width 50%
                font 1.65rem 'CharterITC'
                transform(translate(-157px, -25px))

        &__two
            position absolute
            top 91px
            left 336px
            &-number
                number()
                font 4.8rem 'CharterITC'
                text-align center
                max-height 200px
                &:after
                    round()
                    width 385px
                    height 385px
                    transform(translate(15px,-220px))

            &-text
                number-text()
                font 2.4rem 'CharterITC'
                transform(translate(-378px,58px))
                text-align center

        &__three
            width 260px
            position absolute
            right 15px
            top 97px
            &-number
                number()
                font 6rem 'CharterITC'
                &:after
                    round()
                    width 230px
                    height 230px
                    transform(translate(-49px, -188px))
                    position absolute
            &-text
                number-text()
                font 1.6rem 'CharterITC'
                transform(translate(-17px, -20px))

        &__four
            position absolute
            left 35px
            top 292px
            &-number
                number()
                font 2.8rem 'CharterITC'
            &-text
                number-text()
                font 0.7rem 'CharterITC'
                transform(translate(-143px,28px))

        &__five
            position absolute
            left 256px
            top 265px
            max-height 200px
            &-number
                number()
                font 5.7rem 'CharterITC'
                &:after
                    round()
                    width 340px
                    height 340px
                    transform(translate(-42px, -237px))
            &-text
                number-text()
                font 1.3rem 'CharterITC'
                transform(translate(-351px,76px))
                text-align center

        &__six
            position absolute
            right 76px
            top 282px
            &-number
                number()
                font 4.15rem 'CharterITC'
                font-style italic
            &-text
                number-text()
                font 1.3rem 'CharterITC'
                transform(translate(-168px,109px))
                text-align center

        &__seven
            position absolute
            right -38px
            top 335px
            &-number
                number()
                font 3rem 'CharterITC'
            &-text
                number-text()
                text-align center
                font 1rem 'CharterITC'
                transform(translate(-95px,80px))

        &__eight
            width 260px
            position absolute
            right 169px
            top 558px
            &-number
                number()
                font 6rem 'CharterITC'
                &:after
                    round()
                    width 270px
                    height 270px
                    transform(translate(-35px,-207px))
                    position absolute
            &-text
                number-text()
                font 1rem 'CharterITC'
                transform(translate(-17px,-20px))
                text-align center

        &__nine
            position absolute
            right 800px
            top 620px
            &-number
                number()
                font 3rem 'CharterITC'
            &-text
                number-text()
                font 1rem 'CharterITC'
                transform(translate(-95px,50px))

        &__ten
            position absolute
            top 579px
            left 394px
            &-number
                number()
                font 8.8rem 'CharterITC'
                &:after
                    round()
                    width 250px
                    height 250px
                    transform(translate(-30px,-239px))
            &-text
                number-text()
                width 50%
                font 1.3rem 'CharterITC'
                transform(translate(-307px,111px))
                text-align center

        &__eleven
            width 260px
            position absolute
            right 600px
            top 661px
            &-number
                number()
                font 5rem 'CharterITC'
                &:after
                    round()
                    width 200px
                    height 200px
                    transform(translate(-74px,-163px))
                    position absolute
            &-text
                number-text()
                font 0.9rem 'CharterITC'
                transform(translate(-88px,75px))
                text-align center

        &__twelve
            position absolute
            right -53px
            top 797px
            &-number
                number()
                font 3rem 'CharterITC'
            &-text
                number-text()
                font 1rem 'CharterITC'
                transform(translate(-186px,50px))
                text-align right

        &__thirteen
            position absolute
            right 800px
            top 820px
            &-number
                number()
                font 3rem 'CharterITC'
            &-text
                number-text()
                font 1rem 'CharterITC'
                transform(translate(1px,-5px))

        &__fourteen
            position absolute
            right 524px
            top 882px
            &-number
                number()
                font 3rem 'CharterITC'
            &-text
                number-text()
                font 1rem 'CharterITC'
                transform(translate(-120px,50px))
                text-align center

        &__fifteen
            position absolute
            right 148px
            top 894px
            &-number
                number()
                font 3rem 'CharterITC'
            &-text
                number-text()
                font 1rem 'CharterITC'
                transform(translate(-33px,54px))
                text-align left

.additional-figures
    &__more
        font-family 'CharterOSC-Italic'
        font-size 1.6rem
        color rgba(21,61,94,0.6)

    &__number
        font 1.8rem 'CharterITC'
        color $number-color

    &__txt
        font-size 1.4rem
