.inmotion
    block inmotion__title
        .inmotion__title
            .svg-svg-sprites--dolphin.svg-svg-sprites--dolphin-dims
            h1.inmotion__title_text #{$inmotion["TITLE"]}
        hr.inmotion__separator.svg-svg-sprites--border-line.svg-svg-sprites--border-line-dims

    block inmotion__play
        .inmotion__play(data-state="pause")
        .inmotion__wrapper
            .inmotion__video
                each $item in $inmotion["VIDEO"]
                    .inmotion__slides
                        .inmotion__video-cover
                            .inmotion__video-title !{$item["VIDEO_TITLE"]}
                        video.projector
                            source(src=$item["FILE"])

        if $inmotion["NEXT"] != ''
            span.inmotion__next-video #{$inmotion["NEXT"]}&nbsp;
                span.inmotion__next-video_title #{$inmotion["NEXT_NAME"]}