@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/mixins"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/sprite"

.inmotion
    padding-bottom 162px
    position relative

    &__title
        flexbox()
        justify-content(center)
        padding 71px 0 18px

        &_text
            font 2.3rem 'CharterITC'
            color $dark-text-color
            text-align center

    &__separator
        border none
        margin 0 auto
        margin-bottom 47px

    &__wrapper
        position relative

    &__video-cover
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background url($assetsPath + "images/video-cover.jpg") no-repeat
        z-index 4
        &.hide
            display none

    &__video-title
        font 2.4rem 'PetersburgItalicCyrillic'
        color $light-text-color
        bottom 102px
        left 100px
        right 100px
        position absolute
        &:after
            content ''
            display block
            position absolute
            height 3px
            width 100%
            bottom -30px
            left 0px
            background-color $video-border-color


    &__play
        play-button()
        top -60px

    &__video
        position relative
        width 1195px  //1174px
        horizontal-center()
        z-index 3

        .slick-prev, .slick-next
            background-color $arrow-bg-color
            border 4px solid $arrow-border-color
            border-radius 50%
            position absolute
            width 132px
            height 132px
            color transparent
            outline none
            cursor pointer
            vertical-center()
            &:hover
                background-color $arrow-bg-color-hover
                border 4px solid $arrow-border-color-hover

        .slick-prev
            z-index 3
            left -72px
            &:before
                content ''
                @extend .svg-svg-sprites--prev-video-arrow
                width 24px
                height 43px
                position absolute
                left 28px
                vertical-center()
            &:hover:before
                @extend .svg-svg-sprites--prev-video-arrow-hover

        .slick-next
            z-index 3
            right -72px
            &:before
                content ''
                @extend .svg-svg-sprites--next-video-arrow
                width 24px
                height 43px
                position absolute
                right 28px
                left inherit
                vertical-center()
            &:hover:before
                @extend .svg-svg-sprites--next-video-arrow-hover

        .slick-dots
            position absolute
            bottom -55px
            left 36px

            li
                position relative
                display inline-block
                width 13px
                height 13px
                border-radius 50%
                background-color $video-dot-color
                margin-right 9px
                cursor pointer
                &:hover
                    background-color $video-dot-color-hover
                &.slick-active
                    background-color $video-dot-color-hover

                button
                    display none

        .slick-list
            z-index 5
            border 11px solid $light-text-color
            border-radius 1px
            box-shadow 2px 6px 32px 0px rgba(83, 92, 104, 0.15)


    &__next-video
        font 0.8rem 'CharterITC'
        color $event-text-color
        position absolute
        right 186px
        bottom 115px

        &_title
            font 1.1rem 'CharterITC'
            color $dark-text-color


.projector
    width 1174px
    horizontal-center()

.svg-svg-sprites--dolphin
    align-self(center)
    transform(translateX(-22px))

@media (max-width: 1310px)
    .inmotion
        .slick-prev, .slick-next
            display none !important
