@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/png-sprites"

$top-text
    align-self(center)
    display inline-block
    font-family 'CharterITC'
    color $light-text-color
    text-transform uppercase
    padding-bottom 14px

.top
    //height 119px
    flexbox()
    justify-content(space-between)
    overflow hidden
    padding 32px 0 26px

    &__official-text
        @extends $top-text
        font-size 0.9rem
        text-decoration none

    &__logo
        display inline-block

    &__lang
        @extends $top-text
        font-size 0.7rem
        text-decoration none
        padding-right 17px
        &.not-active
            color $not-active-link-color
            &:hover
                color $light-text-color

        &_wrapper
            flexbox()
            margin-left 35px

    &__logo-small
        align-self(center)
        display inline-block
        sprite($icon_bgarf_logo)
        background-repeat no-repeat
        width 80px
        padding-left 38px
        padding-bottom 15px
        font 0.22rem 'Arial'
        line-height 1.375
        text-transform uppercase
        color $small-logo-color
        margin-left 15px
        &:first-line
            font 1.2rem 'Arial'

@media screen and (max-width: $breakpointSizesWidth[medium]), screen and (max-height: $breakpointSizesHeight[medium])
    .top
        padding 15px 0 10px

        &__logo
            display inline-block
            transform(scale(0.8))