.top
    a.top__official-text(href=$top["SITE_DIR"]) #{$top["TEXT"]}
    a(href=$top["SITE_DIR"]).top__logo.svg-svg-sprites--logo2.svg-svg-sprites--logo2-dims

    .top__lang_wrapper
        //a.top__lang(href="/") РУС
        //a.top__lang.not-active ENG
        .top__logo-small БГАРФ <br />
                |Балтийская государственная академия рыбопромыслового флота
