$svg-common 
	background url("css/svg/sprite.css-fe1f2916.svg") no-repeat

.svg-svg-sprites--anchor
	@extend $svg-common
	background-position 63.886763580719204% 28.31389183457052%

.svg-svg-sprites--anchor-dims
	width 34px
	height 48px

.svg-svg-sprites--anchor-bg
	@extend $svg-common
	background-position 0 100%

.svg-svg-sprites--anchor-bg-dims
	width 785px
	height 785px

.svg-svg-sprites--dolphin
	@extend $svg-common
	background-position 88.30364058869094% 21.57068062827225%

.svg-svg-sprites--dolphin-dims
	width 50px
	height 36px

.svg-svg-sprites--history
	@extend $svg-common
	background-position 60.80557707203718% 28.31389183457052%

.svg-svg-sprites--history-dims
	width 50px
	height 48px

.svg-svg-sprites--lighthouse
	@extend $svg-common
	background-position 60.71152358855375% 33.4750265674814%

.svg-svg-sprites--lighthouse-dims
	width 48px
	height 50px

.svg-svg-sprites--logo
	@extend $svg-common
	background-position 79.61460446247465% 22.150537634408604%

.svg-svg-sprites--logo-dims
	width 355px
	height 61px

.svg-svg-sprites--logo-bg
	@extend $svg-common
	background-position 0 0

.svg-svg-sprites--logo-bg-dims
	width 1341px
	height 206px

.svg-svg-sprites--wheel
	@extend $svg-common
	background-position 67.15610510046368% 28.283898305084747%

.svg-svg-sprites--wheel-dims
	width 47px
	height 47px

.svg-svg-sprites--wind-rose
	@extend $svg-common
	background-position 64.52362509682416% 33.4750265674814%

.svg-svg-sprites--wind-rose-dims
	width 50px
	height 50px

