@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

.welcome
    clearfix()
    padding 60px 0 110px
    background url($assetsPath + "/images/wheel-bg.png") no-repeat
    background-position 99% 0%

    &__title
        flexbox()
        justify-content(flex-start)
        padding-bottom 18px

        &_text
            font 2.3rem 'CharterITC'
            color $welcome-title-color
            margin-left 12px

    &__separator
        border none
        margin-bottom 12px

    &__text
        normal-text()
        padding-top 23px

    &__image
        float right
        display block
        border 7px solid $light-text-color
        border-radius 7px
        box-shadow 0px 11px 10px 0px rgba(0, 0, 0, 0.08)
        margin-left 30px
        margin-top -6px

.svg-svg-sprites--wheel
    padding-top 9px
    transform(translateX(-3px))