.welcome.center-wrapper
   .welcome__title
       .svg-svg-sprites--wheel.svg-svg-sprites--wheel-dims
       h1.welcome__title_text !{$welcome["TITLE"]}
   img.welcome__image(src="/source/build/assets/images/all-photo.jpg")
   hr.welcome__separator.svg-svg-sprites--border-line.svg-svg-sprites--border-line-dims
   p.welcome__text !{$welcome["TEXT1"]}
   p.welcome__text !{$welcome["TEXT2"]}
   p.welcome__text !{$welcome["TEXT3"]}