@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

.photo-album
  flexbox()
  flex-flow(row wrap)
  justify-content(flex-start)
  clearfix()

  &__link
    border 7px solid #fff
    display block
    margin-right 20px
    box-shadow(0 11px 10px 0 rgba(0,0,0,0.08))

  &__image
    display block


