.photo-album
    each $item in $album["ITEMS"]
        .photo-album__item
            a.photo-album__link.fancyboxElem(href=$item["FULL_IMG"] rel="album")
                img.photo-album__image(src=$item["IMG"])