extends ../location/location

block location__map
    .location__map__full
        #googleMap(style="height:458px;")
block location__events
block coordinates
    .coordinates
        .coordinates__wrapper
            .coordinates__info #{$location["COORDINATES"]}
        .coordinates__date #{$location["DATE"]}