@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/mixins"

.location

    &__map__full
        float none

.coordinates
    &__wrapper
        flexbox()
        justify-content(center)
        margin-top 55px

    &__info
        font 1.4rem 'CharterITC'
        letter-spacing -0.7px
        text-align center
        padding 13px 53px
        background-color $coordinates-bg
        border 3px solid $coordinates-border
        border-radius 40px

    &__date
        font 0.7rem 'CharterITC'
        text-align center
        padding 3px 53px
        color $not-active-link-color

#markerLayer
    img
        transform(scale(1.5))
        animation (pulse .5s infinite alternate)


@keyframes pulse {
    from {
        transform(scale(1))
    }
    to {
        transform(scale(0.5))
    }
}