@import "../../styles/helpers/variables"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/crossbrowser"


.top-menu
    flexbox()
    justify-content(space-between)
    padding 31px 0 32px


    &__link
        display inline-block
        font 0.9rem DINCyr-Medium
        text-decoration none
        text-transform uppercase
        color $dark-text-color
        background-color transparent
        box-sizing border-box
        position relative
        &:before
            content ''
            opacity 0
            transition(opacity .3s ease-out)

        &:hover, &.selected
            &:before
                content ''
                position absolute
                background-color $top-menu-link-hover
                opacity 1
                width 130%
                left -15%
                top -19px
                bottom -19px
                z-index 1

        &_text
            position relative
            z-index 2

@media screen and (max-width: $breakpointSizesWidth[medium]), screen and (max-height: $breakpointSizesHeight[medium])
    .top-menu
        padding 20px 0 20px

        &__link
            font 0.8rem DINCyr-Medium

            &:hover, &.selected
                &:before
                    top -12px
                    bottom -12px