nav.top-menu
    each $item in $topmenu
        - $selected = ''
        - if($item['SELECTED'] == true) $selected = 'selected'
        a(href=$item['LINK'] class="top-menu__link !{$selected}")
            span.top-menu__link_text #{$item["NAME"]}