<div class="gallery-about"><div class="center-wrapper"><h2 class="gallery-about__title"><?=isset($galleryabout["TITLE"]) ? $galleryabout["TITLE"] : ''?></h2><div class="gallery-about__text"><?=isset($galleryabout["TEXT"]) ? $galleryabout["TEXT"] : ''?></div></div></div>