@import "../../styles/helpers/variables"
@import "../../styles/helpers/flex"
@import "../../styles/helpers/clearfix"
@import "../../styles/helpers/absolute-center"
@import "../../styles/helpers/crossbrowser"
@import "../../styles/helpers/sprite"


.gallery-slider
    margin-bottom 90px

    &__slide
        width 425px      /*!!!!!!*/
        margin-right 28px
        position relative
        &:focus
            outline none

    &__movie
        play-button()
        top -150px


    &__slider
        position relative
        z-index 2
        &:focus
            outline none

        .slick-list
            overflow auto
            background-color $outer-bg-color

            /* горизонтальная полоса прокрутки */
            .jspHorizontalBar
                position absolute
                bottom 8px
                left 0
                width 100%
                height 49px

                /* полоска, по которой бегает ползунок */
                .jspTrack
                    position relative
                    background none

                    &:after
                        content ''
                        display block
                        height 5px
                        width 100%
                        position absolute
                        top calc(50% - 3px)
                        background-linear-gradient(0, rgba(0,0,0,0.03), 24%, rgba(0,0,0,0.08), 100%)
                        z-index 1


                /* сам ползунок */
                .jspDrag
                    position relative
                    z-index 2
                    top 9px
                    left 0
                    height 31px
                    border-radius 15px
                    background $outer-bg-color
                    box-shadow 0px 2px 8px 0px rgba(0, 0, 0, 0.22)
                    cursor pointer

    &__link
        display block
        min-height 320px



    .slick-prev, .slick-next
            background-color $arrow-bg-color
            border 4px solid $arrow-border-color
            border-radius 50%
            position absolute
            top 110px
            width 98px
            height 98px
            color transparent
            outline none
            cursor pointer
            &:hover
                background-color $arrow-bg-color-hover
                border 4px solid $arrow-border-color-hover

        .slick-prev
            z-index 0
            left -53px
            &:before
                content ''
                transform(scale(0.7))
                @extend .svg-svg-sprites--prev-video-arrow
                width 24px
                height 43px
                position absolute
                left 22px
                vertical-center()
            &:hover:before
                @extend .svg-svg-sprites--prev-video-arrow-hover

        .slick-next
            z-index -1
            right -53px
            &:before
                content ''
                transform(scale(0.7))
                @extend .svg-svg-sprites--next-video-arrow
                width 24px
                height 43px
                position absolute
                right 22px
                left inherit
                vertical-center()
            &:hover:before
                @extend .svg-svg-sprites--next-video-arrow-hover


    .slide-image
        border 7px solid $light-text-color
        border-radius 7px
        box-shadow 0px 11px 10px 0px rgba(0, 0, 0, 0.08)
        margin-bottom 17px

    .slide-caption
        font 0.65rem 'Arial'
        color $slider-caption-color
        width 425px
        padding-bottom 70px

    .slick-slider
        vendor(user-select, text)

.fancybox-nav.fancybox-prev, .fancybox-nav.fancybox-next
    height 90%

    span
        top 55%

.fancybox-overlay
    .fancybox-inner
        overflow hidden !important