mixin gallery-slider(events)
    .history-period__title !{$events["TITLE"]}
    .history-period__text !{$events["TEXT"]}

    .gallery-slider
        .center-wrapper
            .gallery-slider__slider
                each $item in $events["SLIDER"]
                    figure.gallery-slider__slide
                        a.fancybox.gallery-slider__link(href=$item["IMAGE_FULL"] rel="gallery" data-fancybox-type=$item['FANCYBOX_TYPE'])
                            img(data-src=$item["IMAGE"]).slide-image
                            div(class="gallery-slider__!{$item['ADDITIONAL_CLASS']}")
                        figcaption.slide-caption #{$item["CAPTION"]}